@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

#about {
	background: $background-color;
	text-align: center;
	padding-top: 55px;

	@include respond('sm') {
		padding-top: 70px;
	}

	@include respond('md') {
		padding-top: 90px;
	}

	// @include respond('lg') {
	// 	padding-top: 6rem;
	// 	padding-bottom: 6rem;
	// }

	.container {
		@include container;

		.content {
			margin: 0 auto;
			padding: 0 16px;
			
			@include respond('xs') {
				max-width: 580px;
			}

			@include respond('sm') {
				max-width: 680px;
			}
		
			@include respond('md') {
				max-width: 680px;
				padding: 0;
			}

			h2 {
				margin-bottom: 36px;

				@include respond('sm') {
					margin-bottom: 36px;
				}

				@include respond('md') {
					margin-bottom: 50px;
				}
			}

			p {
				margin-bottom: 1.25rem;

				@include respond('md') {
					margin-bottom: 1.75;
				}
			}
		}
	}
}