@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

#about {
	text-align: center;
	padding-top: 4rem;

	@include respond('xs') {
		padding-top: 4.5rem;
	}

	@include respond('sm') {
		padding-top: 5rem;
	}

	@include respond('md') {
		padding-top: 5.5rem;
	}

	@include respond('lg') {
		padding-top: 6rem;
	}

	.container {
		@include container;

		.content {
			max-width: 600px;
			margin: 0 auto 5rem;
			padding: 0 1rem;

			@include respond('xs') {
				margin: 0 auto 5.5rem;
			}
		
			@include respond('sm') {
				margin: 0 auto 6rem;
				padding: 0;
			}

			@include respond('md') {
				margin: 0 auto 6.5rem;
			}

			@include respond('lg') {
				margin: 0 auto 7rem;
			}

			h2 {
				margin-bottom: 2rem;

				@include respond('xs') {
					margin-bottom: 2.25rem;
				}

				@include respond('md') {
					margin-bottom: 2.75rem;
				}
			}

			p {
				color: $secondary-color;
				margin-bottom: 1.25rem;

				@include respond('md') {
					margin-bottom: 1.5rem;
				}
			}
		}
	}
}