@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/variables' as *;

.category-cards {
	max-width: 500px;
	margin: 0 auto 40px;

	.category-card {
		text-align: center;

		p {
			font-size: 15px;
			margin-bottom: 0.5rem;

			@include respond('sm') {
				font-size: 17px;
			}
			
			strong {
				font-weight: 700;
				// font-size: 1.25rem;
				// color: $color-dark-red;
				margin-right: 2px;
			}
		}
	
		// ul {
		// 	list-style-type: none;
		// 	padding: 0;
	
		// 	li {
		// 		font-size: 1rem;
		// 		line-height: 1.5;
		// 		margin-bottom: 0.5rem;
		// 	}
		// }
	}
}

