@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

#contact {
	text-align: center;
	background-color: $color-light-grey;
	padding: 60px 0 24px;

	@include respond('sm') {
		padding: 70px 0;
	}

	@include respond('md') {
		padding: 5.875rem 0 6rem;
	}

	.container {
		@include container;

		h2 {
			margin-bottom: 2.75rem;

			@include respond('sm') {
				margin-bottom: 3.25rem;
			}

			@include respond('md') {
				margin-bottom: 4rem;
			}
		}

		.content {
			max-width: 320px;
			margin: 0 auto;
			text-align: center;

			@include respond('sm') {
				max-width: 820px;
			}

			.cards {
				display: grid;
				grid-template-columns: 1fr;
				justify-content: space-around;
			
				@include respond('sm') {
					grid-template-columns: repeat(2, 1fr);
					max-width: 100%;
					gap: 90px;
				}

				@include respond('md') {
					grid-template-columns: repeat(2, 1fr);
					max-width: 100%;
					gap: 180px;
				}
			
				.card {
					background: transparent;
					padding: 0 1rem;
					margin-bottom: 2.5rem;
					text-align: center;
		
					@include respond('sm') {
						margin-bottom: 0;
					}

					.card-1 {
						margin-bottom: 2.5rem;

						@include respond('sm') {
							margin-bottom: 40px;
						}
					}
				
					.sub-heading {
						margin-bottom: 8px;
						text-align: center;

						@include respond('sm') {
							text-align: left;
						}

						span {
							font-family: $font-family;
							font-size: 14px;
							font-weight: normal;
						}
					}
				
					p {
						text-align: center;
						font-size: 23px;
						line-height: 1.5;

						@include respond('sm') {
							text-align: left;
						}

						@include respond('md') {
							text-align: left;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}