@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;

#footer {
	background-color: $primary-color;
	
	.copyright {
		margin: 0 auto;
		padding: 20px 24px;
		text-align: center;

		p {
			max-width: 200px;
			color: rgba(250, 250, 250, 1);
			font-size: $size-13;
			letter-spacing: 0.08rem;
			margin: 0 auto;
			padding: 0;

			@include respond('md') {
				max-width: 100%;
				font-size: $size-14;
				letter-spacing: 0.1rem;
			}
		}
	}
}