@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/variables' as *;

#hero {
	position: relative;
	margin-top: 110px;

	@include respond('sm') {
		margin-top: 120px;
	}

	@include respond('lg') {
		margin-top: 122px;
	}
	
	.container {
		@include container;

		.contact-info {
			text-align: center;
			margin-bottom: 16px;

			@include respond('md') {
				margin-bottom: 18px;
			}
			
			p.small-text {
				font-size: $size-14;
				margin: 0 auto;

				@include respond('sm') {
					font-size: $size-15;
				}

				@include respond('md') {
					font-size: $size-16;
				}

				strong {
					font-weight: 600;
				}
			}
		}
	
		.intro {
			margin: 0 auto;
			text-align: center;
			padding-bottom: 32px;

			@include respond('sm') {
				padding-bottom: 36px;
			}

			@include respond('md') {
				padding-bottom: 40px;
			}

			h1 {
				font-family: $font-family-2;
				font-size: $size-40;
				margin-bottom: 16px;

				@include respond('xs') {
					font-size: $size-46;
				}

				@include respond('sm') {
					font-size: $size-64;
					margin-bottom: 18px;
				}

				@include respond('md') {
					font-size: $size-75;
					margin-bottom: 22px;
				}
			}

			p {
				margin: 0 auto;
				text-align: center;
				font-size: $size-18;

				@include respond('sm') {
					font-size: $size-20;
				}

				@include respond('md') {
					font-size: $size-24;
				}
			}
		}

		.description {
			max-width: 400px;
			margin: 45px auto 0;
			padding: 0 16px;
	
			@include respond('xs') {
				max-width: 580px;
			}

			@include respond('sm') {
				max-width: 660px;
				margin-top: 55px;
			}
		
			@include respond('md') {
				max-width: 700px;
				margin-top: 65px;
				padding: 0;
			}

			p {
				margin-bottom: 1.5rem;

				@include respond('md') {
					margin-bottom: 1.75rem;
				}
			}
		}
	}
}