@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/variables' as *;

#hero {
	position: relative;
	margin-top: 110px;

	@include respond('sm') {
		margin-top: 120px;
	}

	@include respond('lg') {
		margin-top: 122px;
	}
	
	.container {
		@include container;

		.contact-info {
			text-align: center;
			margin-bottom: 16px;
			
			p {
				font-size: 14px;
				margin: 0 auto 10px;

				@include respond('md') {
					font-size: 16px;
				}

			}
		}
	
		.intro {
			margin: 0 auto;
			text-align: center;
			padding-bottom: 32px;

			@include respond('sm') {
				padding-bottom: 36px;
			}

			@include respond('md') {
				padding-bottom: 40px;
			}

			h1 {
				font-family: $font-family-2;
				font-size: 40px;
				font-weight: 600;
				line-height: 1.06em;
				letter-spacing: normal;
				margin-bottom: 16px;

				@include respond('sm') {
					font-size: 44px;
					margin-bottom: 18px;
				}

				@include respond('md') {
					font-size: 75px;
					margin-bottom: 22px;
				}
			}

			p {
				max-width: 280px;
				margin: 0 auto 5px;
				text-align: center;
				font-size: 18px;
				line-height: normal;

				@include respond('sm') {
					max-width: 100%;
					font-size: 18px;
				}

				@include respond('md') {
					font-size: 24px;
				}
			}
		}
	}
}