@use '../abstracts/breakpoints' as *;

.map {
	.container {
		width: 100%;
		max-width: 100%;
		height: 400px;
		margin-left: auto;
		margin-right: auto;

		@include respond('xs') {
			height: 420px;
		}
	
		@include respond('sm') {
			height: 440px;
		}
	
		@include respond('md') {
			height: 460px;
		}
	
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}