@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

#products {
	background: $background-color;
	padding-top: 35px;
	padding-bottom: 1.5rem;

	@include respond('sm') {
		padding-top: 50px;
	}

	@include respond('md') {
		padding-top: 62px;
		padding-bottom: 2.5rem;
	}

	@include respond('lg') {
		padding-top: 72px;
		padding-bottom: 3.5rem;
	}

	.container {	
		@include container;

		.intro {
			margin: 0 auto;
			text-align: center;
			padding-bottom: 30px;

			@include respond('sm') {
				padding-bottom: 36px;
			}

			@include respond('md') {
				padding-bottom: 50px;
			}

			h2 {
				margin-bottom: 16px;

				@include respond('md') {
					margin-bottom: 22px;
				}
			}

			p {
				max-width: 280px;
				margin: 0 auto;
				text-align: center;
				font-size: 16px;
				line-height: normal;

				@include respond('sm') {
					font-size: 17px;
				}

				@include respond('md') {
					max-width: 400px;
					font-size: 20px;
				}
			}
		}

		.product-card-list {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1.5rem;
		
			@include respond('xs') {
				grid-template-columns: repeat(2, 1fr);
			}

			@include respond('sm') {
				grid-template-columns: repeat(3, 1fr);
			}

			@include respond('md') {
				gap: 2.5rem;
			}
		
			@include respond('lg') {
				gap: 3.5rem;
			}
		}
	}
}