@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

.product-card {
	position: relative;
	text-align: center;
	break-inside: avoid;
	margin-bottom: 1.5rem;

	@include respond('md') {
		margin-bottom: 2rem;
	}

	@include respond('lg') {
		margin-bottom: 2.5rem;
	}

	.product-image {
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: auto;
			transition: transform 0.8s ease-out;
			will-change: transform;

			&:hover {

				@include respond('xs') {
					transition: transform 0.4s ease;
					transform: scale(1.2);
				}
			}	
		}
	}
}