@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

#products {
	background: $background-color;
	padding-top: 35px;
	padding-bottom: 2rem;

	@include respond('xs') {
		padding-bottom: 4.5rem;
	}

	@include respond('sm') {
		padding-top: 50px;
		padding-bottom: 4.5rem;
	}

	@include respond('md') {
		padding-top: 62px;
		padding-bottom: 6.5rem;
	}

	@include respond('lg') {
		padding-top: 72px;
		padding-bottom: 6.5rem;
	}

	.container {	
		@include container;

		.intro {
			margin: 0 auto;
			text-align: center;
			padding-bottom: 30px;

			@include respond('sm') {
				padding-bottom: 36px;
			}

			@include respond('md') {
				padding-bottom: 50px;
			}

			h2 {
				margin-bottom: 16px;

				@include respond('md') {
					margin-bottom: 22px;
				}
			}

			p {
				max-width: 300px;
				margin: 0 auto;
				text-align: center;
				font-size: 16px;
				line-height: normal;

				@include respond('sm') {
					font-size: 17px;
				}

				@include respond('md') {
					max-width: 400px;
					font-size: 20px;
				}
			}
		}

		.product-card-list {
			column-count: 1;
			column-gap: 1.5rem;
			padding: 0 8px;
		
			@include respond('xs') {
				column-count: 2;
			}
		
			@include respond('sm') {
				column-count: 3;
				// column-gap: 1.5rem;
			}
		
			@include respond('md') {
				column-gap: 2rem;
			}
		
			@include respond('lg') {
				column-gap: 2.5rem;
			}
		}

		.button-container {
			margin: 55px auto 30px;
			text-align: center;

			@include respond('xs') {
				margin: 55px auto 40px;
			}

			@include respond('md') {
				margin: 70px auto 45px;
			}

			@include respond('lg') {
				margin: 75px auto 45px;
			}

			.button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 160px;
				height: 50px;
				background-color: #fff;
				border: 4px solid $color-dark-red;
				color: $color-dark-red;
				margin: 0 auto;
				text-align: center;
				transition: all 0.4s ease-out;
				cursor: pointer;
				
				@include respond('sm') {
					width: 205px;
					height: 60px;
				}

				&:hover {
					background-color: $color-dark-red;
					color: #fff;
				}

				span {
					font-family: $font-family-2;
					font-weight: 600;
					font-size: 18px;
				}
			}
		}

		.spinner-container {
			margin: 3rem auto 1rem;
			display: flex;
			justify-content: center;

			@include respond('md') {
				margin: 3.5rem auto 2rem;
			}
		}
	}
}