@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/variables' as *;

#services {
	background-color: $color-light-pink;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 26px;

	@include respond('sm') {
		padding-top: 70px;
		padding-bottom: 0;
	}

	@include respond('md') {
		padding-top: 100px;
	}

	.container {
		@include container;
	}

	.content {
		margin: 0 auto;
	
		@include respond('sm') {
			margin: 0 auto 90px;
		}

		@include respond('md') {
			margin: 0 auto 130px;
		}

		.intro {
			margin: 0 auto;
			text-align: center;

			h2 {
				margin-bottom: 46px;

				@include respond('sm') {
					margin-bottom: 50px;
				}
	
				@include respond('md') {
					margin-bottom: 80px;
				}
			}
		}
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr;
		max-width: 380px;
		margin: 0 auto;
		justify-content: center;
	
		@include respond('sm') {
			grid-template-columns: repeat(3, 1fr);
			max-width: 1200px;
		}
	
		.card {
			padding: 40px 32px;
			text-align: center;
			border-top: 1px solid $primary-color;

			@include respond('sm') {
				padding: 0 1.5rem;
				margin-bottom: 0;
				border-right: 1px solid $primary-color;
				border-top: none;
			}

			@include respond('md') {
				padding: 0 3.25rem;
			}

			&:last-child {
				border-bottom: none;

				@include respond('sm') {
					border-right: none;
				}
			}

			.sub-heading {
				font-size: 22px;
				font-weight: 600;
				letter-spacing: -0.7px;
				list-style: normal;
				margin-bottom: 16px;

				@include respond('sm') {
					margin-bottom: 16px;
				}

				@include respond('md') {
					font-size: 24px;
					margin-bottom: 24px;
				}
			}

			.lesson-price-list {
				margin-top: 1rem;
				margin-bottom: 1rem;
				padding-left: 1.2rem;
				list-style: disc;
				font-size: 0.95rem;
				text-align: left;

			 	li {
					margin-bottom: 0.3rem;
				}
			}
		}
	}

	.banner.parallax {
		display: none;

		@include respond('sm') {
			display: block;
		}
	}
}