@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/variables' as *;

#services {
	background-color: $color-light-pink;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 26px;

	@include respond('sm') {
		padding-top: 70px;
		padding-bottom: 0;
	}

	@include respond('md') {
		padding-top: 90px;
	}

	.container {
		@include container;
		padding: 0;

		@include respond('sm') {
			padding: 0 2rem;
		}
	}

	.content {
		margin: 0 auto;
	
		@include respond('sm') {
			margin: 0 auto 90px;
		}

		@include respond('md') {
			margin: 0 auto 115px;
		}

		.intro {
			margin: 0 auto;
			text-align: center;

			h2 {
				margin-bottom: 48px;

				@include respond('sm') {
					margin-bottom: 65px;
				}
	
				@include respond('md') {
					margin-bottom: 80px;
				}
			}
		}
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr;
		margin: 0 auto;
		justify-content: center;

		@include respond('xs') {
			max-width: 560px;
		}

		@include respond('sm') {
			grid-template-columns: repeat(2, 1fr);
			max-width: 900px;
		}
	
		@include respond('md') {
			max-width: 1100px;
		}
	
		.card {
			margin: 0 auto;
			padding: 40px;
			text-align: center;
			border-top: 1px solid $primary-color;

			@include respond('sm') {
				padding: 0 24px 20px;
				margin-bottom: 0;
				border-right: 1px solid $primary-color;
				border-top: none;
			}

			@include respond('md') {
				padding: 0 52px 20px;
			}

			&:last-child {
				border-bottom: none;

				@include respond('sm') {
					border-right: none;
				}
			}

			p.sub-heading {
				color: rgba(37, 25, 14, 1);
				font-size: $size-24;
				font-weight: 600;
				letter-spacing: -0.9px;
				list-style: normal;
				margin-bottom: 18px;

				@include respond('sm') {
					font-size: $size-24;
					margin-bottom: 20px;
				}

				@include respond('md') {
					font-size: $size-26;
					margin-bottom: 24px;
				}
			}

			p {
				font-weight: 400;

				@include respond('sm') {
					font-weight: 300;
				}
			}

			.show-prices-btn {
				margin: 28px auto 8px;
				background: $primary-color;
				color: #fff;
				padding: 8px 20px;
				border: none;
				cursor: pointer;
				font-size: 15px;
				font-weight: 500;

				@include respond('md') {
					margin-top: 30px;
				}

				&:hover {
					opacity: 0.9;
				}
			}

			.lesson-price-list {
				margin: 16px auto 0;
				list-style: none;

				@include respond('sm') {
					margin: 20px auto 5px;
				}

			 	li {
					margin-bottom: 4px;

					strong {
						font-weight: 500;

						@include respond('sm') {
							font-weight: 400;
						}
					}
				}
			}
		}
	}

	.banner.parallax {
		display: none;

		@include respond('sm') {
			display: block;
		}
	}
}