@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

// Font-Family
$font-family: 'Open Sans', Helvetica, sans-serif;
$font-family-2: "Oswald", sans-serif;

// Colors
$primary-color: rgba(37, 25, 14, 1);
$secondary-color: #25190e;
$background-color: #fff;
$color-light-pink: #edb8bb;
$color-light-grey: #e8e8e8;
$color-red: #ca4249;
$color-dark-red: #af3338;

// Max Widths for containers
$container-width: 1264px;

// Font-Size
$size-13: 0.813rem;
$size-14: 0.875rem;
$size-15: 0.938rem;
$size-16: 1rem;
$size-17: 1.063rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-38: 2.375rem;
$size-40: 2.5rem;
$size-44: 2.75rem;
$size-46: 2.875rem;
$size-48: 3rem;
$size-56: 3.5rem;
$size-64: 4rem;
$size-75: 4.688rem;