@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Font-Family
$font-family: 'Open Sans', Helvetica, Arial, serif;
$font-family-2: 'Times New Roman', 'Times', serif;

// Colors
$primary-color: #222;
$secondary-color: #333;
$background-color: #fff;
$color-yellow: #edcd2f;
$color-red: #de502c;

// Max Widths for containers
$container-width: 1264px;

// Font-Size
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-15: 0.938rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;